<div id="bottom-bar">

    <!-- Left -->
    <div class="section">
    </div>

    <!-- Center -->
    <div>
        @if (!universe.colDetec()) {
        <button (click)="universe.checkForColInFuture()">Check</button>
        }
    </div>

    <!-- Right -->
    <div>
        <div id="button-container">
            <button (click)="toggleLines()" [class.off]="!universe.showingTrails">Lines</button>
            <button (click)="toggleFakeLines()" [class.off]="!universe.showingFakeTrails">Predicted Lines</button>
        </div>
    </div>
</div>