<main class="panel">
    <div>
        <span> Simulate for </span>
        <button (click)="simulate(100)">+ 100</button>
        <button (click)="simulate(1000)">+ 1000</button>
        <button (click)="simulate(5000)">+ 5000</button>
        <span> Steps</span>
    </div>
    <div>
        <span> preSimSteps</span>
        <button (click)="updatePreSimSteps(-1000)">- 1000</button>
        <button (click)="updatePreSimSteps(-100)">- 100</button>
        <span> {{universe.preSimSteps}}</span>
        <button (click)="updatePreSimSteps(100)">+ 100</button>
        <button (click)="updatePreSimSteps(1000)">+ 1000</button>
    </div>
</main>