<script type="importmap">
    {
        "imports": {
            "three": "../build/three.module.js",
            "three/addons/": "./jsm/"
        }
    }
</script>

<canvas id="bg"></canvas>
<main>
    <div id="bottom-container">
        <app-simulator style="opacity: 0;"></app-simulator>
        <button id="start-button" (click)="universe.paused = !universe.paused">
            <span *ngIf="universe.paused">Start</span>
            <span *ngIf="!universe.paused">Pause</span>
        </button>
        <app-simulator></app-simulator>
    </div>
</main>