<canvas id="bg"></canvas>

<app-top-bar [universe]="universe"></app-top-bar>

@if (universe.colDetec() > 0) {
<app-collision-warning [count]="universe.colDetec()"></app-collision-warning>
}

<app-bottom-bar [universe]="universe"></app-bottom-bar>


<!-- <div id="bottom-container">
    <app-simulator style="opacity: 0;"></app-simulator>
    <app-simulator></app-simulator>
</div> -->


<div id="action-panel">
    <button onclick="toggleFlashlight()">Toggle Flashlight</button>
    <button onclick="checkFutureCollisions()">Check Collisions</button>
    <button onclick="calculateSomething()">Calculate</button>
</div>