<div id="top-bar">

    <!-- Left -->
    <div class="section">
        <div>
            @for (system of universe.systems; track $index) {
                <button (click)="universe.switchSystem(system)">{{system.name}}</button>
            }
        </div>
    </div>

    <!-- Center -->
    <div>
        <button id="start-button" (click)="universe.togglePause()">
            {{universe.paused ? "&#x23f5;" : "&#x23f8;"}}
        </button>
    </div>

    <!-- Righg -->
    <div>

    </div>
</div>