<div id="top-bar">
  <!-- Left -->
  <div>
    <select
      class="system-select"
      (change)="
        universe.switchSystem(
          universe.systems[$any($event.target).selectedIndex]
        )
      "
    >
      @for (system of universe.systems; track $index) {
        <option>{{ system.name }}</option>
      }
    </select>
  </div>

  <!-- Center -->
  <div>
    <button id="start-button" (click)="universe.togglePause()">
      {{ universe.paused ? "&#x23f5;" : "&#x23f8;" }}
    </button>
  </div>

  <!-- Right -->
  <div>
  </div>
</div>
